@media (max-width:768px)
{
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        /* background-color: red; */
    }
    nav{
        display: flex;
        flex-direction: column;
        height:100%;
        width: 100%;
        background-color: aqua;
        text-align: center;
    }
    .logoname{
        padding-top: 15px;
        padding-bottom: 8px;
        font-size: 5vw;
        font-weight: bolder;
        border-bottom: 1px solid gray;
        font-family: 'Tomorrow', sans-serif;
    }
    
    nav p{
        padding:5px 0px;
        font-size: 3vw;
        font-weight: 500;
        font-family: 'Young Serif', serif;
    }
    nav p:nth-child(2)
    {
        padding-top: 10px;
    }
}